:root {
  --col-a: #111;
  --col-b: #333;
  --col-c: #555;
  --col-d: #888;
  --col-e: #aaa;
  --col-at: #1118;
  --col-bt: #3338;
  --col-ct: #5558;
  --col-dt: #8888;
  --col-et: #aaa8;
  --acc-a: #f40;
  --acc-b: #f84;
  --acc-c: #8c0;
  --acc-at: #f408;
  --acc-bt: #f848;
  --acc-ct: #8c08;
}
