on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
  
permissions:
  contents: write
  
jobs:
  build-client:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: latest
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest
      - run: |
          cd gatelogue-client
          pnpm install --no-frozen-lockfile
          pnpm run build
      - run: |
          cd gatelogue-client/dist
          echo > .nojekyll
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: client
          path: gatelogue-client/dist

  build-docs-py:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pypa/hatch@install
      - run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends graphviz graphviz-dev
      - run: |
          cd gatelogue-aggregator
          hatch run docs:build
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: docs-py
          path: gatelogue-aggregator/docs/_build/html/

  build-docs-rs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      - run: |
          cd gatelogue-types-rs
          cargo doc --no-deps
      - run: cp .github/docs-rs-redirect.html gatelogue-types-rs/target/doc/index.html
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: docs-rs
          path: gatelogue-types-rs/target/doc/

  build-docs-ts:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: latest
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest
      - run: |
          cd gatelogue-types-ts
          pnpm install --no-frozen-lockfile
          pnpm run doc
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: docs-ts
          path: gatelogue-types-ts/docs


  pages:
    runs-on: ubuntu-latest
    needs: [ build-client, build-docs-py, build-docs-rs, build-docs-ts ]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: client
        path: dist
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: docs-py
        path: dist/docs
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: docs-rs
        path: dist/docs/rs
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: docs-ts
        path: dist/docs/ts
    - name: Deploy
      uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: dist
