on:
  workflow_dispatch:

jobs:
  tests:
    uses: ./.github/workflows/tests.yml

  changelog-version:
    runs-on: ubuntu-latest
    outputs:
      changelog: ${{ steps.changelog.outputs.changelog }}
      short_version: ${{ steps.version.outputs.version }}
      data_version: ${{ steps.version.outputs.data_version }}
      version: ${{ steps.version.outputs.version }}+${{ steps.version.outputs.data_version }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - id: version
        run: |
          cd gatelogue-aggregator/src
          python -c "
          from gatelogue_aggregator.__about__ import __version__, __data_version__
          print('version=v'+__version__)
          print('data_version='+str(__data_version__))
          " >> "$GITHUB_OUTPUT"

      - id: changelog
        run: |
           cd gatelogue-aggregator/src
           {
           echo 'changelog<<__EOF__'
           python -c "
           from gatelogue_aggregator.__about__ import __version__, __data_version__
           print('\n'.join(open('../../CHANGELOG.md').read().split('## v'+__version__+'+'+str(__data_version__))[1].split('\n')[1:]).split('\n##')[0])
           "
           echo __EOF__
           } >> "$GITHUB_OUTPUT"

  build-py:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: gatelogue-types-py

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: pypa/hatch@install
    - run: hatch build
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      with:
        name: dist-py
        path: gatelogue-types-py/dist

  build-rs:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: gatelogue-types-rs

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
      with:
        toolchain: stable
    - run: cargo update
    - run: cargo package
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      with:
        name: dist-rs
        path: gatelogue-types-rs/target/package/*.crate

  build-ts:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: gatelogue-types-ts

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: latest
          registry-url: https://registry.npmjs.org/
      - run: pnpm i
      - run: pnpm pack
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: dist-ts
          path: gatelogue-types-ts/gatelogue-types-*.tgz

  github-release:
    runs-on: ubuntu-latest
    needs: [ build-py, build-rs, build-ts, changelog-version, tests ]
    permissions:
      contents: write

    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: dist-py
          path: dist
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: dist-rs
          path: dist
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: dist-ts
          path: dist
      - uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          tag_name: ${{ needs.changelog-version.outputs.version }}
          body: ${{ needs.changelog-version.outputs.changelog }}
          files: dist/*

  publish-pypi:
    runs-on: ubuntu-latest
    needs: [ build-py, tests ]
    environment:
      name: pypi
      url: https://pypi.org/p/gatelogue-types
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: dist-py
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1

  publish-crates-io:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: gatelogue-types-rs
    permissions:
      id-token: write
    needs: [ build-rs, tests ]
    environment: crates

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
        with:
          toolchain: stable
      - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
        id: auth
      - run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}

  publish-npm:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: gatelogue-types-ts
    permissions:
      id-token: write
      contents: read
    needs: [ build-ts, tests ]
    environment: npm

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: latest
          registry-url: https://registry.npmjs.org/
      - run: npm install -g npm@latest
      - run: pnpm i
      - run: pnpm publish

  publish-gpr:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: gatelogue-types-ts
    permissions:
      contents: read
      packages: write
    needs: [ build-ts, tests ]


    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: latest
          registry-url: https://npm.pkg.github.com/
      - run: |
          cat package.json | sed "s/\"name\": \"/\"name\": \"@mrt-map\//g" > package2.json
          mv package2.json package.json
      - run: pnpm i
      - run: pnpm publish --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

  publish-jsr:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: gatelogue-types-ts
    permissions:
      contents: read
      id-token: write
    needs: [ build-ts, tests ]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: latest
      - run: mv ../README.md .
      - run: pnpx jsr publish --allow-dirty

