
on:
  workflow_dispatch:
  workflow_call:
  push:
  pull_request:

jobs:
  test-types-py:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: gatelogue-types-py
  
    steps:
      - uses: actions/checkout@v5
      - uses: pypa/hatch@install
      - run: hatch test --all

  test-types-rs:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: gatelogue-types-rs

    steps:
      - uses: actions/checkout@v5
      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
        with:
          toolchain: stable
      - run: cargo test --all --features ureq_get
