
on:
  workflow_dispatch:
  workflow_call:
  push:
  pull_request:

jobs:
  test-types-py:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: gatelogue-types-py
  
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: pypa/hatch@install
      - run: hatch test --all

  test-types-rs:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: gatelogue-types-rs

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
        with:
          toolchain: stable
      - run: cargo test --all --features ureq_get

  test-types-ts:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: gatelogue-types-ts

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: latest
      - run: pnpm i
      - run: pnpm test