on:
  workflow_dispatch:
  push:
    branches: [ "dist" ]

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4
        with:
          token: ${{ secrets.PAT }}
          repository: mrt-map/transit-map
          event-type: update_map