on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths: [ "gatelogue-aggregator/**", "gatelogue-types-py/**", ".github/workflows/update.yml" ]
  schedule:
    - cron: 0 0 * * *

permissions:
  contents: write

env:
  FORCE_COLOR: "1"
  NO_PROGRESS_BAR: "1"

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: dist
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.14'
      - uses: pypa/hatch@install
      
      - uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05 # v1.6.0
        with:
          packages: graphviz libgraphviz-dev
          version: 1.0
      - run: sudo dot -c

      - run: echo "key=$(($(date +%s)/3600))" >> "$GITHUB_ENV"
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: /tmp/gatelogue
          key: ${{ env.key }}-gatelogue-data
      - run: bash update.sh -ce "*"
      - run: echo "message=update @ $(date +%Y%m%dT%H:%M:%S%Z)" >> "$GITHUB_ENV"
      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          default_author: github_actions
          message: ${{ env.message }}

      - uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        with:
          token: ${{ secrets.PAT }}
          repository: mrt-map/transit-map
          event-type: update_map
