on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths: [ "gatelogue-aggregator/**", "gatelogue-types-py/**", ".github/workflows/update.yml" ]
  schedule:
    - cron: 0 0 * * *

permissions:
  contents: write

env:
  FORCE_COLOR: "1"
  NO_PROGRESS_BAR: "1"

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          ref: dist
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: '3.14'
      - uses: pypa/hatch@install
      
      - uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05 # v1.6.0
        with:
          packages: graphviz libgraphviz-dev
          version: 1.0
      - run: sudo dot -c

      - run: echo "key=$(($(date +%s)/3600))" >> "$GITHUB_ENV"
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /tmp/gatelogue
          key: ${{ env.key }}-gatelogue-data
      - run: bash update.sh -ce "*"
      - run: echo "message=update @ $(date +%Y%m%dT%H:%M:%S%Z)" >> "$GITHUB_ENV"
      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          default_author: github_actions
          message: ${{ env.message }}

      - uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f # v4
        with:
          token: ${{ secrets.PAT }}
          repository: mrt-map/transit-map
          event-type: update_map
